# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.env.*

# ========================
# Environment Variables
# ========================
.env
*.env

# ========================
# Database
# ========================
*.db
*.sqlite3

# ========================
# Logs
# ========================
*.log

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

# ========================
# VSCode / IDE
# ========================
.vscode/
.idea/

# ========================
# FastAPI / Temp
# ========================
*.tmp
*.bak

# ========================
# Build / Dist
# ========================
build/
dist/
*.egg-info/

# ========================
# Jupyter Notebook
# ========================
.ipynb_checkpoints/

# ========================
# Mac System
# ========================
.AppleDouble
.LSOverride

# ========================
# Secrets
# ========================
secrets.json
config.json